* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #1d3557;
}

.container {
    max-width: 400px;
}

input[type=text],
input[type=text]:focus {
    color: #fff;
    background-color: #0c2241;
    max-width: 400px;
    border: none;
}

.todos li {
    background-color: #021939;
    color: #fff;
}

.delete {
    cursor: pointer;
}